<contentbox boxtitle="Consequence" title-url="{{ $ctrl.allele.urls.ensembl }}">
    <cbbody>
        <div class="cb-warning" ng-if="$ctrl.worstConsequenceTranscripts.length">
            WORSE CONSEQUENCE FOUND IN:
            <ul>
                <li ng-repeat="t in $ctrl.worstConsequenceTranscripts">
                    {{ t.consequences.join(', ') | shortCsq }} in {{ t.transcript }}
                </li>
            </ul>
        </div>
        <div
            ng-repeat="t in $ctrl.allele.annotation.filtered track by t.transcript"
            class="clickable"
            tippy-popover="alleleInfoConsequencePopover.ngtmpl.html"
            tippy-popover-title="CONSEQUENCE"
        >
            <transcript-wrapper transcript="t">
                <p ng-repeat="c in t.consequences">{{ c | shortCsq }}</p>
            </transcript-wrapper>
        </div>
    </cbbody>
</contentbox>
